* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.create-btn{
   color: #fff;
   background: #011f7f;
   font-weight: bold;
   bottom: 10px !important;
   left: 0px !important;

&:hover{
   background: #011f7f;
   color: #fff;
}

}

.search-icon{
    background: #fc9d01;
    color: #fff;

    &:hover{
        background: #fc9d01;
        color: #fff;
     }
}
/* Table */

.table-container {
    max-height: 500px;
    text-align: center;
    font-weight: 600;
}

.table thead th {
    position: sticky;
    top: 0;
    background: #fc9d01;
    color: #011f7f;
    font-size:18px;
    font-weight: bold;
    z-index: 1;
}

.action-btn{
    background: #011f7f;
    color: #fff;

   &:hover{
    background: #fc9d01;
   } 
}


.page-controls{
    background: #fc9d01 !important;
    color: #fff !important;

    &:hover {
        background: #011f7f!important;
    } 
 }
 

/* Default pagination item */
.page-item.page-indexing a {
    color: #fff !important;
    background: #011f7f!important;;
    border: 1px solid #fff;
}

/* Hover state */
.page-item.page-indexing a:hover {
    background: #fc9d01 !important;
}

/* Active state */
.page-item.active a,
.page-item.page-indexing.active a {
    background: #fc9d01!important;
    border-color: #fff !important;
}






